/*default version*/
@font-face {
	font-family: 'Whitney Medium';
	src: url('font/font.ttf');
	src:
		local('Whitney'),
		local('Whitney'),
		url('font/font.ttf')
		format('opentype');
}

*{
	font-family:'Whitney Medium', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#C0C1C3;
}

*::placeholder {
  color: #7E8185;
}

*::-webkit-scrollbar {
   display: none;
 }

body{
  background-color:#36393E;
}

textarea{
  font-weight:400;
  background-color:#484C52;
  color:#C0C1C3;
  font-size:15px;
  border-radius:5px;
  padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;

  border:none;
  outline: none;
  overflow:auto;
  resize: none;
}

#input{
	bottom:0;
	height:100%;
}

#output{
  bottom:50px;
	height:30vh;
}

#demo{
	height:auto;
}

.center{
	position:absolute;
	margin-bottom:10px;
	left:20vw;
	width:60vw;
	text-align:left;
	height:50vh;
}

.input-bar{
	width:60vw;
	position:absolute;
	bottom:0;
	left:20vw;
	margin-bottom:10px;
	padding-right:10px;
}

.input-text{
	width:90%;
	height:100%;
}

.input-btn{
	width:9%;
	position:absolute;
	height:90%;
	right:0;
}

@media only screen and (max-width: 800px) {
    .center {
			left:10vw;
			width:80vw;
		}

		.input-bar{
			width:80vw;
			left:10vw;
		}

		.input-text{
			width:80%
		}

		.input-btn{
			width:18%;
		}
}

*::selection{
  background: #bababa; /* WebKit/Blink Browsers */
}

*::-moz-selection{
  background: #bababa; /* Gecko Browsers */
}

.copy{
	background-color:#484C52;
 	border:none;
 	outline: none;

 	border-radius:5px;
 	color:#C0C1C3;
}

.copy:hover{
	background-color:#7E8185;
	cursor:pointer;
}

a:hover{
	color:#7E8185;
}
